__pycache__/
*.py[cod]
*.pyo
*.pyd

.env
.venv/
venv/
.build-venv/

build/
dist/
*.spec

android/.gradle/
android/build/
android/app/build/
android/local.properties

.idea/
.vscode/
*.iml

Thumbs.db
.DS_Store
